<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title></title>
<!-- CSS files -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/Navbar.css" rel="stylesheet" />
<link href="~/css/Index.css" rel="stylesheet" />
<link href="~/css/Layout.css" rel="stylesheet" />
<link href="~/css/Login.css" rel="stylesheet" />


