
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.Partial("_ScriptsBase")
    @Html.Partial("_HeaderBlock")
</head>
<body class="antialiased" style="background: #f0f2f8">
    <span class="loader" id="loader"></span>
    @Html.Partial("_Navbar")

    @RenderBody()

    </div>
    <script src="~/js/Appointment.js"></script>
</body>
</html>

