

<nav id="navbar">
    <div id="logo">
        <img src="~/assets/images/logo.svg" width="180" />
    </div>
    <div id="nav-links">
        @{
            if (@ViewContext.RouteData.Values["controller"].ToString() == "Appointment" && @ViewContext.RouteData.Values["action"].ToString() == "Index")
            {
                <button class="navbar-btn logout" id="LogOut">
                    Logout
                </button>
            }
        }
        @* <button id="nav-btn">
        Features
        </button>
        <button id="nav-btn">
        Integrations
        </button>*@
        @* <button class="navbar-btn login">
        Login
        </button>
        <button class="navbar-btn register">
        SIGNUP
        </button>*@
    </div>
</nav>