

<nav id="navbar">
    <div id="logo">
        <img src="~/assets/images/logo.svg" width="180" />
    </div>
    <div id="nav-links">
       @* <button id="nav-btn">
            Features
        </button>
        <button id="nav-btn">
            Integrations
        </button>*@
        <button class="navbar-btn login">
            Login
        </button>
        <button class="navbar-btn register">
            SIGNUP
        </button>
    </div>
</nav>