<div class="ParentLoginContainer">
    <div class="LoginContainer">
        <div class="LoginFormContainer">
            <input class="Input" type="text" placeholder="Name" id="Name" />
            <input class="Input" type="email" placeholder="Email" id="Email" />
            <input class="Input" type="text" placeholder="Civil ID" id="CID" />
            <input class="Input" type="number" placeholder="Mobile Number" id="Number" />

            <button id="RegisterButton">REGISTER</button>
        </div>
    </div>
</div>