<div class="ParentLoginContainer">
    <div class="LoginContainer">
        <div class="LoginFormContainer">
            <input class="Input" type="email" placeholder="Email" id="Email" />
            <input class="Input" type="password" placeholder="Password" id="Password" />
            <button id="LoginButton">LOGIN</button>
        </div>
    </div>
</div>