@{
    ViewData["Title"] = "Home Page";
}

<div class="MainContainer">
    <div class="LeftContainer">
        <div class="HeadingContainer">
            <span class="IndexTitle" style="color:#8b22e2">Simplified Scheduling</span>
            <span class="IndexTitle">for everyone</span>
        </div>
        <div class="SubheadingContainer">
            <span class="SubheadingTitle">
                Free online Appointment scheduling software with Payments, Invoicing, Sales, Reporting, Customer & Team management.
            </span>
        </div>

        <div class="IndexButtonContainer">
            <button class="IndexButton login" id="login">
               LOGIN
            </button>
            <button class="IndexButton register" id="register">
                SIGNUP
            </button>
        </div>
    </div>
    <div class="RightContainer">
        <img src="~/assets/images/MainPage.svg" />
    </div>
</div>